:root {
    --background-normal-color: #1f2137;
    --background-ligh-color: #2e2e48;
    --button-color: #0177c6;
    --button-hover-color: #126daa;
    --button-text-color: #fefefe;
    --alarm-color: red;
    --button-disabled-color: #747577;
    --text-background: white;
    --text-background-hover: #dee3ed;
    --active-color: #bd5700;
}
