:root {
    --background-normal-color: #1f2137;
    --background-ligh-color: #2e2e48;
    --button-color: #018dec;
    --button-hover-color: #126daa;
    --button-text-color: #fefefe;
    --alarm-color: red;
    --button-disabled-color: #939496;
    --text-background: white;
    --active-color: #f16e00;
}
