@font-face {
    font-family: "Gordon";
    src: url("./gordon.woff2") format("woff2");
    src: url("./gordon.ttf") format("truetype");
    font-display: swap;
}

.gordon {
    font-family: Gordon;
}

.oswald {
    font-family: "Oswald", sans-serif;
}
