@import url(//db.onlinewebfonts.com/c/d6334bc8ac954270190af4dc9f1c4314?family=Gordon&display=swap);

@font-face {
    font-family: "Gordon";
    src: url("//db.onlinewebfonts.com/t/d6334bc8ac954270190af4dc9f1c4314.eot");
    src: url("//db.onlinewebfonts.com/t/d6334bc8ac954270190af4dc9f1c4314.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d6334bc8ac954270190af4dc9f1c4314.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d6334bc8ac954270190af4dc9f1c4314.woff") format("woff"),
        url("//db.onlinewebfonts.com/t/d6334bc8ac954270190af4dc9f1c4314.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d6334bc8ac954270190af4dc9f1c4314.svg#Gordon") format("svg");
}

.gordon {
    font-family: Gordon;
}

.oswald {
    font-family: "Oswald", sans-serif;
}
