.order {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include maxwidth768px {
        flex-direction: column;
        padding-bottom: 60px;
        align-items: center;
    }
}
