.order {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1420px;
    margin: 0 auto;

    @include maxwidth768px {
        flex-direction: column;
        padding-bottom: 60px;
        align-items: center;
    }
}
