.select {
    @extend .flexbox-column-centered;
    @extend .full-height;
    & h1 {
        font-size: 24px;
    }
    &__content-box {
        display: grid;
        grid-row-gap: 60px;
        padding-bottom: 60px;
        & > .images {
            display: flex;
            grid-column-gap: 60px;
            opacity: 0;
            &.active {
                animation: images 0.3s ease-in-out forwards;
            }

            @include maxwidth768px {
                flex-direction: column;
                grid-template-columns: 1fr;
                grid-row-gap: 30px;
                justify-items: center;
                align-items: center;
            }
        }
    }
}

@keyframes images {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}
