.select {
    @extend .flexbox-column-centered;
    @extend .full-height;
    &__content-box {
        display: grid;
        grid-row-gap: 60px;
        & > .images {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 60px;
        }
    }
}
