.summary {
    position: relative;
    right: 0;
    top: 0;
    margin: 20px;
    border-radius: 12px;
    width: var(--image-size);
    background-color: var(--text-background);
    padding: 30px 30px;
    &__main .items {
        @media only screen and (max-width: 768px) {
            margin: 0 auto;
        }
    }
    @media only screen and (max-width: 768px) {
        margin: 0 auto;
    }
}
